# 本地開發預設為
VITE_WS_URL=ws://localhost:3000
VITE_API_URL=https://localhost:3000

# 部署到Zeabur時請在前端環境變數分別新增以下兩個環境變數
# VITE_WS_URL=後端服務綁定的子網域(ex: wss://xxxxxxx.zeabur.app)
# VITE_API_URL=後端服務綁定的子網域(ex: https://xxxxxxx.zeabur.app))