JWT_SECRET=任意字串
# USERS=帳號:密碼,...為多組帳號
USERS=admin:password
# 在Zeabur部署時建議設為/mc(配合Volume掛載)
WORK_DIR=./mc_data
# 伺服器啟動的Port(預設為3000，在Zeabur上不需要設定)
PORT=3000
# 部署到Zeabur時，請改為分配到的前端網域名稱(ex: https://your-pzm-panel.zeabur.app)
FRONTEND_URL=http://localhost:5173